body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ---------------------------------------------------- */


body {
  background-color: #ccc;
}

.main_nav {
  background-color: black;
  display: flex;
  justify-content: right;
  padding-right: 1rem;
}

.main_nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
}

.form {
  margin: 10rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: #e3e3e3;
  width: 20rem;
  height: 20rem;
}

.form label {
  margin-top: 1rem;
}

.form .signIn_buttons,
.form .register_buttons {
  display: flex;
  justify-content: center;
}

.form .signIn_buttons button,
.form .register_buttons button {
  margin: 1rem;
}

.form h5 {
  margin: 1px;
}


.loader_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura igual al 100% del viewport */
  width: 100%; /* Ancho igual al 100% del viewport */
  position: fixed; /* Posición fija para mantener el elemento en el centro */
  top: 0;
  left: 0;
  z-index: 999; /* Asegúrate de que el contenedor esté por encima de otros elementos */
}

.loader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 80px;
}

.loader div {
    width: 12px;
    background: #888;
    animation: loader 1.8s linear infinite;
}

.loader div:nth-child(2) {
    animation-delay: -0.25s;
}

@keyframes loader {
    0% {
        height: 12px;
    }

    25% {
        height: 50px;
    }

    50% {
        height: 10px;
    }

    75% {
        height: 25px;
    }

    100% {
        height: 12px;
    }
}
